# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform/terraform.tfvars.example
.terraform.lock.hcl

# AWS
*.pem
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Lambda deployment packages
lambda/*.zip

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
